<strong>Olá, {{ delivery }} </strong>
<span>A sua entrega foi cancelada, abaixo estão as informações do cancelamento:</span>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Descrição do problema: </strong> {{ description }} <br />
</p>
Equipe FastFeet
